.sprite{
    margin-top: 10px;
    margin-left: 500px;
    width: 350px;
    height: 77px;
    background-color: rgb(217, 217, 227);
    border: 1px solid rgb(0 0 163 / 49%);
}
.sprite ul{
    list-style: none;
}
.sprite ul li{
    float: left;
    margin: 5px;

}

.sprite ul li a{
    background-image: url(images/sprites_image.png);
    width: 45px;
    height: 45px;
    display: inline-block;
    background-position: -3px -1px;
    border-radius: 50%;
    transition: 1s;
}

.sprite ul li a:hover{
    background-position: -5px -66px;
}

 .sprite ul li:nth-child(2) a{
    background-position: -60px -1px;
}

.sprite ul li:nth-child(2):hover a{
    background-position: -58px -68px;
}

.sprite ul li:nth-child(3) a{
    background-position: -117px -4px;
}

.sprite ul li:nth-child(3):hover a{
    background-position: -117px -67px;
}
.sprite ul li:nth-child(4) a{
    background-position: -284px -4px;
}

.sprite ul li:nth-child(4):hover a{
    background-position: -283px -70px;
}
.sprite ul li:nth-child(5) a{
    background-position: -337px -3px;
}

.sprite ul li:nth-child(5):hover a{
    background-position: -339px -65px;
}

/* .sprite ul li:nth-child(6) a{
    background-position: -379px -28px;
} */

/* .sprite ul li:nth-child(6):hover a{
    background-position: -380px -99px;
}
.sprite ul li:nth-child(7) a{
    background-position: -453px -28px;
} */

/* .sprite ul li:nth-child(7):hover a{
    background-position: -450px -99px;
}
.sprite ul li:nth-child(8) a{
    background-position: -525px -28px;
} */

/* .sprite ul li:nth-child(8):hover a{
    background-position: -525px -99px;
}
.sprite ul li:nth-child(9) a{
    background-position: -600px -25px;
} */

/* .sprite ul li:nth-child(9):hover a{
    background-position: -600px -99px;
}
.sprite ul li:nth-child(10) a{
    background-position: -672px -28px;
} */

/* .sprite ul li:nth-child(10):hover a{
    background-position: -671px -99px;
}
 .sprite ul li:nth-child(11) a{
    background-position: -744px -28px;
}

.sprite ul li:nth-child(11):hover a{
    background-position: -744px -99px;
} */